{% extends 'base.html' %}

{% block title %}Criar Conta{% endblock %}

{% block content %}
<div class="register-container">

    <h2 class="titulo-pagina">Criar Conta</h2>

    <form method="post" class="register-form">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="btn btn-primario btn-full">
            Registrar
        </button>
    </form>

    <div class="register-links">
        <a href="{% url 'login' %}">← Voltar ao login</a>
    </div>

</div>
{% endblock %}
